#toggler {
  display: none;
}
#toggler:checked + label .hamburger-container span:nth-child(1) {
  transform: rotate(45deg);
  top: 4px;
}
#toggler:checked + label .hamburger-container span:nth-child(2) {
  transform: rotate(-45deg);
  top: -4px;
}

.hamburger-container {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 20px;
  margin-left: 20px;
  cursor: pointer;
  span {
    display: block;
    height: 1px;
    background-color: white;
    position: relative;
    transition: all 0.3s ease-in-out;
    top: 0;
  }
  span:nth-child(2) {
    margin-top: 7px;
  }
}

header {
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.header-nav-items-rwd {
  background-color: rgba(0, 0, 0, 0.822);
  width: 100%;
  height: 250px;
  position: absolute;
  top: 50px;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: top;
  z-index: 99;

  ul {
    margin-top: 20px;
    padding: 0px;

    li a {
      display: block;
      height: 50px;
      padding-left: 20px;
      color: white;
      font-size: 20px;
    }
  }
}
#toggler:checked ~ .header-nav-items-rwd {
  transform: scaleY(1);
}

.header-nav-items {
  display: none;
  width: 100%;
  position: absolute;
  top: 0px;
  // margin: auto;

  ul {
    padding: 0px;
    margin: auto;

    li a {
      display: block;
      height: 50px;
      padding-left: 20px;
      color: white;
      font-size: 20px;
    }
  }
}
@media (min-width: 800px) {
  .hamburger-container {
    display: none;
  }
  .header-nav-items {
    display: block;
  }
}

// 限制minwidth
// .container {
//   min-width: 576px;
// }

body {
  font-family: "Noto Sans TC";
}

.activelink {
  border-bottom: 3px solid whitesmoke;
}
