.banner {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #ccc;
  background: linear-gradient(
        100deg,
        rgba(118, 150, 83, 0.678) 50%,
        transparent 50%
      )
      center center/ 100% 100%,
    url("/seedling-5009286_1920.jpg") right center / auto 100%;
}
.homecontainer {
  width: 100%;
  max-width: 900px;
  height: 100%;
  margin: auto;
  li {
    margin-bottom: 5px;
  }
}
.banner-txt {
  height: 100%;
  max-width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  h1 {
    font-size: 80px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 1px solid #333333;
  }
  h2 {
    font-size: 50px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
  }
  ul {
    list-style-type: none;
    p {
      background-color: green;
      font-size: 20px;
      color: whitesmoke;
    }
  }
}
